[submodule "fs-permit-platform"]
	path = fs-permit-platform
	url = https://github.com/18F/fs-permit-platform.git
[submodule "fs-middlelayer-api"]
	path = fs-middlelayer-api
	url = https://github.com/18F/fs-middlelayer-api.git
